@page
<textarea name="message" id="message"></textarea>
<input type="button" id="sendButton" value="Send Message" />
<input type="button" id="clear" value="ClearMessages" />
<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/lib/message.js"></script>
